body, header, #start {
    display: flex;
}

body {
    font-family: "Lexend", sans-serif;
    flex-direction: column;
    padding-top: 5%;
    background-color: #942c2c78; 
}

header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d20f0f; 
    z-index: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

#start {
    align-items: center;
}

#center {
    
}

#logoLDB {
    height: 50px;
    width: 50px;
}

#notifbell {
    align-items: center;
    height: 30px;
    width: 30px;
}

/* aside {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #e0f2f1; 
    box-shadow: 10px 10px 10px #b2dfdb;
    overflow-y: auto;
} */

nav ul {
    padding-left: 15%;
}

.liste li {
    text-decoration: none;
    color: inherit;
    padding-bottom: 5%;
}

.liste li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    height: 20px;
}

.liste li a:hover {
    background-color: #802a12; 
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.liste {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-left: -15%;
    -webkit-user-select: none;
    user-select: none;
}

.liste h3 {
    margin: 0;
    padding: 10px;
    /* background-color: #b2dfdb; Turquoise clair */
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.liste h3:hover {
    background-color: #ea2f0e; 
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #5b1414; 
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2abf7e; 
    transition: background-color 0.3s ease;
}

.message {
    text-align: center;
    color: #4d002f;
    margin-top: 10px;
}

.container {
    max-width: 500px;
    align-items: center;
    margin: 50px auto;
    background-color: #c03939cb; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: flex-start;
}

#bio,#followers-count {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ButtonProfile {
    border: none;
    color: #461812; 
    background-color: transparent;
    cursor: pointer;
}

#followButton {
    border-radius: 10%;
    text-align: center;
    font-size: 16px;
    background-color: #bb0707; 
    border: 2px solid #000000; 
}

.ButtonProfile {
    border: none;
    color: #790000; 
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.profile-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#creation_post {
    background: #6b0000;
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 25px;
}

#title {
    margin: 50px 50px 0 50px;
}

#category {
    width: 100px;
    height: 25px;
    text-align: center;
    display: flex;
    margin: 50px auto;
}

#button {
    display: flex;
    margin: 50px auto;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: black;
    border-radius: 15px;
    background-color: #4c0000;
}

#button:hover {
    background-color: white;
}

/* Style général du corps */
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la barre latérale */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Liens dans la barre latérale */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Hover sur les liens de la sidebar */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Bouton pour fermer la barre latérale */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Contenu principal */
#mainContent, #mainHeader {
    transition: margin-left .5s;
    padding: 16px;
}

/* Responsive*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}